$color--black: rgb(51, 51, 51);
$color--white-outline: rgb(238, 238, 238);

$font-weight--normal: 400;
$font-weight--bold: 600;

$font-size--text: 16px;
$font-size--header: 20px;

.editor-block {
  border-bottom: dashed 1px $color--white-outline;
  color: $color--black;
  font-family: SourceSansPro;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 1.5;
  padding-bottom: 10px;
  padding-top: 10px;

  &__editor {
    width: 100%;
    box-shadow: none;
    border: 0;
    outline: none;
    overflow: hidden;
    resize: none;
  }

  &__header {
    font-size: $font-size--header;
    font-weight: $font-weight--bold;
  }
}

.test { display: none; }
